.courseInfo {
	display: grid;
	grid-template-columns: 4fr minmax(250px, 2fr);
	gap: 30px 50px;
	padding: 20px 40px;
	margin-top: 25px;
	background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
	border-radius: 16px;
}

.courseInfo .description {
	padding: 0 0 20px 0; 
	line-height: 1.5rem;
	text-align: justify;
}

.courseInfo ul {
  padding: 0 15px;
  list-style: none;
}

.courseInfo ul li{
  margin-bottom: 10px;
}

.title {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 20px;
}

.controls {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}

.info {
	height: fit-content;
	padding: 20px;
	box-shadow: 0px 1px 4px rgba(107, 107, 107, 0.2);
	border-radius: 8px;
}

.info p {
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  margin-bottom: 10px;
}


