.course {
	display: grid;
	grid-template-columns: 4fr minmax(250px, 2fr);
	gap: 150px;
	padding: 20px;
	margin-top: 25px;
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}

.description p {
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.title {
	margin-bottom: 20px;
}

.course p {
	margin-bottom: 10px;
}

.course p span {
	font-weight: 500;
}

.controls {
	width: 100%;
	display: flex;
	gap: 15px;
	justify-content: center;
	align-content: center;
	margin-top: 15px;
}

.info {
	height: fit-content;
	padding: 20px;
	box-shadow: 0px 1px 4px rgba(107, 107, 107, 0.2);
	border-radius: 8px;
}

.info p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
